{% extends "base.html" %}


{% block content %}

      <link href="/static/css/skin-win7/ui.fancytree.css" rel="stylesheet">

     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" > 
     </script>
     <script type="text/javascript" src="/static/js/jquery.fancytree-all.js" > </script>

<style>
.card{ background-color: #fff; border: 1px solid transparent; border-radius: 6px; }
.card .card-header{   font-weight: bold; border-radius: 6px 6px 0 0; padding: 8px; }
</style>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 ">

    <div id="disks">
        <div class="box">
            <div class="box-header">
                <span>Browse</span>
            </div>
            <div class="box-content">
		<div id="jstree_browse">

  		</div>

            </div>
        </div>
     </div>
     </div>

    <div class="col-sm-4 ">

<div class="card card-price" id="fileinfo" >
<div class="card-header box-header" id="filename"></div>
  <div class="card-body">
    <table class="table">
      <tr><td>Creation Time:</td><td id="st_ctime"></td></tr>
      <tr><td>Modifiation Time:</td><td id="st_mtime"></td></tr>
      <tr><td>Size:</td><td id="st_size"></td></tr>
    </table>
  </div>
</div>
      </div>
  </div>
  
  </div>
 </div>
</div>

<script type="text/javascript">
 $("#jstree_browse").fancytree({
  checkbox: false,
  selectMode: 3,
  source: {
    url:
      "/folder?node={{node}}"
  },
  lazyLoad: function(event, data) {
    $(".spinner").hide();
    console.log(event);
    console.log(data);
    data.result = {url: "/folder?node={{node}}&id="+data.node.key};
  },

  activate: function(event, data) {
    if (data.node.folder == false) {
		$("#fileinfo").show();
    		$("#filename").text(data.node.title);
    		$("#st_ctime").text(fromtimestamp(data.node.data.st_ctime));
    		$("#st_mtime").text(fromtimestamp(data.node.data.st_mtime));
    		$("#st_size").text(filesizeformat(data.node.data.st_size));
	} else {
		$("#fileinfo").hide();
	}
  },
});
$("#fileinfo").hide();
$(".spinner").hide();
</script>
{% endblock %}
