{% if not is_xhr|default(false) %}{% extends "base.html" %}{% endif -%}
{% block content %}
    <div id="disks">
        <div class="box">
            <div class="box-header">
                <span>Disks</span>
            </div>
            <div class="box-content">
                <table id="processes" class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Device</th>
                            <th>Mounted</th>
                            <th>Type</th>
                            <th>Options</th>
                            <th>Space (total)</th>
                            <th>Space (used)</th>
                            <th>Space (used %)</th>
                            <th>Space (free)</th>
                        </tr>
                    </thead>
                    <tbody class="listdisks" 
				data="device type options space_total space_used space_used_percent space_free"
				format="none none none filesizeformat filesizeformat none filesizeformat">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box">
            <div class="box-header">
                <span>Disks I/O</span>
            </div>
            <div class="box-content">
                <table id="processes2" class="table">
                    <thead>
                        <tr>
                            <th>Device</th>
                            <th>Read count</th>
                            <th>Write count</th>
                            <th>Read bytes</th>
                            <th>Write bytes</th>
                            <th>Read time (ms)</th>
                            <th>Write time (ms)</th>
                        </tr>
                    </thead>
                    <tbody class="listioc"
				data="name read_count write_count read_bytes write_bytes read_time write_time"
				format="none none none filesizeformat filesizeformat none none"
			>	
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
