{% if not is_xhr|default(false) %}{% extends "base.html" %}{% endif -%}
{% block content %}
    <div id="dashboard">
        <div class="box cpu">

            <div class="box-header">
                <span>CPU</span>
            </div>
            <div class="box-content">
                <table class="table">
                    <tr>
                        <td class="label-col">Load average</td>
                        <td class="load " style="word-spacing: 10px;"><span class="load_avg"> </span></td>
                    </tr>
                    <tr>
                        <td class="label-col">User</td>
                        <td class="user"><span class="cpuuser">...</span> %</td>
                    </tr>
                    <tr>
                        <td class="label-col">System</td>
                        <td class="system"><span class="cpusystem">...</span> %</td>
                    </tr>
                    <tr>
                        <td class="label-col">Idle</td>
                        <td class="idle"><span class="cpuidle">...</span>  %</td>
                    </tr>
                    <tr>
                        <td class="label-col">I/O wait</td>
                        <td class="iowait"><span class="cpuiowait">...</span> %</td>
                    </tr>
                    <tr>
                        <td class="label-col">Cores</td>
                        <td class="iowait"><span class="num_cpus">...</span></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="box memory">
            <div class="box-header">
                <span>Memory</span>
            </div>
            <div class="box-content">
                <table class="table">
                    <tr>
                        <td class="label-col">Total</td>
                        <td class="total"><span class="memorytotal" format="filesizeformat">...</span></td>
                    </tr>
                    <tr>
                        <td class="label-col">Available</td>
                        <td class="available"><span class="memoryavailable"  format="filesizeformat">...</span></td>
                    </tr>
                    <tr>
                        <td class="label-col">Used <small>(excl. cache &amp; buffers)</small></td>
                        <td class="used_excl"><span class="(memory.total - memory.available)">...</span>(<span class="memorypercent">...</span>  %)</td>
                    </tr>
                    <tr>
                        <td class="label-col">Used <small>(incl. cache &amp; buffers)</small></td>
                        <td class="used_incl"><span class="memoryused"  format="filesizeformat">...</span></td>
                    </tr>
                    <tr>
                        <td class="label-col">Free</td>
                        <td class="free"><span class="memoryfree"  format="filesizeformat">...</span></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="box network">
            <div class="box-header">
                <span>Network</span>
            </div>
            <div class="box-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Interface</th>
                            <th>IP</th>
                            <th>RX/s</th>
                            <th>TX/s</th>
                        </tr>
                    </thead>
                    <tbody class="listnet_interfaces" data="name ip">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box disks">
            <div class="box-header">
                <span>Disks</span>
            </div>
            <div class="box-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Device</th>
                            <th>Mounted</th>
                            <th>Total</th>
                            <th>Used</th>
                            <th>Free</th>
                        </tr>
                    </thead>
                    <tbody class="listdisks" data="device mountpoint space_total space_used space_free"
					     format="none none filesizeformat filesizeformat filesizeformat">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box swap">
            <div class="box-header">
                <span>Swap</span>
            </div>
            <div class="box-content">
                <table class="table">
                    <tr>
                        <td class="label-col">Total</td>
                        <td class="total"><span class="swaptotal" format="filesizeformat">...</span></td>
                    </tr>
                    <tr>
                        <td class="label-col">Used</td>
                        <td class="used"><span class="swapused" format="filesizeformat">...</span> (<span class="swappercent">...</span>)</td>
                    </tr>
                    <tr>
                        <td class="label-col">Free</td>
                        <td class="free"><span class="swapfree" format="filesizeformat">...</span> </td>
                    </tr>
                    <tr>
                        <td class="label-col">Swapped in</td>
                        <td class="swapped-in"><span class="swapswapped_in"  format="filesizeformat">...</span> </td>
                    </tr>
                    <tr>
                        <td class="label-col">Swapped out</td>
                        <td class="swapped-out"><span class="swapswapped_out" format="filesizeformat">...</span></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="box users">
            <div class="box-header">
                <span>Users</span>
            </div>
            <div class="box-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Session started</th>
                            <th>Host</th>
                        </tr>
                    </thead>
                    <tbody class="listusers" data="name started host" format="none fromtimestamp none">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
