{% if not is_xhr|default(false) %}{% extends "base.html" %}{% endif -%}



<script src="https://epochjs.github.io/epoch/js/d3.js"></script>
        <script src="https://bernii.github.io/gauge.js/dist/gauge.min.js"></script>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/epoch/0.8.4/css/epoch.css">

{% block content %}


<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>

<script src="https://code.highcharts.com/modules/solid-gauge.js"></script>

<div class="outer">
  <div id="container-speed" class="chart-container"></div>
  <div id="container-rpm" class="chart-container"></div>
</div>

<style>
.outer {
  width: 600px;
  height: 200px;
  margin: 0 auto;
}
.outer .chart-container {
  width: 300px;
  float: left;
  height: 200px;
}
.highcharts-yaxis-grid .highcharts-grid-line {
  display: none;
}

@media (max-width: 600px) {
  .outer {
    width: 100%;
    height: 400px;
  }
  .outer .chart-container {
    width: 300px;
    float: none;
    margin: 0 auto;
  }
}
</style>


<script>
var allchart = {}
var gaugeOptions = {

  chart: {
    type: 'solidgauge'
  },

  title: null,

  pane: {
    center: ['50%', '85%'],
    size: '140%',
    startAngle: -90,
    endAngle: 90,
    background: {
      backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
      innerRadius: '60%',
      outerRadius: '100%',
      shape: 'arc'
    }
  },

  tooltip: {
    enabled: false
  },

  // the value axis
  yAxis: {
    stops: [
      [0.1, '#55BF3B'], // green
      [0.5, '#DDDF0D'], // yellow
      [0.9, '#DF5353'] // red
    ],
    lineWidth: 0,
    minorTickInterval: null,
    tickAmount: 2,
    title: {
      y: -70
    },
    labels: {
      y: 16
    }
  },

  plotOptions: {
    solidgauge: {
      dataLabels: {
        y: 5,
        borderWidth: 0,
        useHTML: true
      }
    }
  }
};

// The gauge
allchart["cpuuser"] = Highcharts.chart('container-speed', Highcharts.merge(gaugeOptions, {
  yAxis: {
    min: 0,
    max: 100,
    title: {
      text: 'User % '
    }
  },
  credits: {
    enabled: false
  },
  series: [{
    name: 'User',
    data: [0],
    dataLabels: {
      format: '<div style="text-align:center"><span style="font-size:25px;color:' +
        ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
           '<span style="font-size:12px;color:silver">km/h</span></div>'
    },
    tooltip: {
      valueSuffix: ' %'
    }
  }]

}));

allchart["cpusystem"] = Highcharts.chart('container-rpm', Highcharts.merge(gaugeOptions, {
  yAxis: {
    min: 0,
    max: 100,
    title: {
      text: 'User % '
    }
  },
  credits: {
    enabled: false
  },
  series: [{
    name: 'User',
    data: [0],
    dataLabels: {
      format: '<div style="text-align:center"><span style="font-size:25px;color:' +
        ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
           '<span style="font-size:12px;color:silver">km/h</span></div>'
    },
    tooltip: {
      valueSuffix: ' %'
    }
  }]

}));


</script>

    <div id="dashboard">
        <div class="box cpu">

            <div class="box-header">
                <span>CPU</span>
            </div>
            <div class="box-content">
                <table class="table">
                    <tr>
                        <td class="label-col">Load average</td>
                        <td class="load " style="word-spacing: 10px;"><span class="load_avg"> </span></td>
                    </tr>
                    <tr>
                        <td class="label-col">User</td>
                        <td class="user"><span class="cpuuser" gauge="toto">...</span> %</td>
                    </tr>
                    <tr>
                        <td class="label-col">System</td>
                        <td class="system"><span class="cpusystem" gauge="toto">...</span> %</td>
                    </tr>
                    <tr>
                        <td class="label-col">Idle</td>
                        <td class="idle"><span class="cpuidle">...</span>  %</td>
                    </tr>
                    <tr>
                        <td class="label-col">I/O wait</td>
                        <td class="iowait"><span class="cpuiowait">...</span> %</td>
                    </tr>
                    <tr>
                        <td class="label-col">Cores</td>
                        <td class="iowait"><span class="num_cpus">...</span></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="box memory">
            <div class="box-header">
                <span>Memory</span>
            </div>
            <div class="box-content">
                <table class="table">
                    <tr>
                        <td class="label-col">Total</td>
                        <td class="total"><span class="memorytotal" format="filesizeformat">...</span></td>
                    </tr>
                    <tr>
                        <td class="label-col">Available</td>
                        <td class="available"><span class="memoryavailable"  format="filesizeformat">...</span></td>
                    </tr>
                    <tr>
                        <td class="label-col">Used <small>(excl. cache &amp; buffers)</small></td>
                        <td class="used_excl"><span class="(memory.total - memory.available)">...</span>(<span class="memorypercent">...</span>  %)</td>
                    </tr>
                    <tr>
                        <td class="label-col">Used <small>(incl. cache &amp; buffers)</small></td>
                        <td class="used_incl"><span class="memoryused"  format="filesizeformat">...</span></td>
                    </tr>
                    <tr>
                        <td class="label-col">Free</td>
                        <td class="free"><span class="memoryfree"  format="filesizeformat">...</span></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="box network">
            <div class="box-header">
                <span>Network</span>
            </div>
            <div class="box-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Interface</th>
                            <th>IP</th>
                            <th>RX/s</th>
                            <th>TX/s</th>
                        </tr>
                    </thead>
                    <tbody class="listnet_interfaces" data="name ip">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box disks">
            <div class="box-header">
                <span>Disks</span>
            </div>
            <div class="box-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Device</th>
                            <th>Mounted</th>
                            <th>Total</th>
                            <th>Used</th>
                            <th>Free</th>
                        </tr>
                    </thead>
                    <tbody class="listdisks" data="device mountpoint space_total space_used space_free"
					     format="none none filesizeformat filesizeformat filesizeformat">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="box swap">
            <div class="box-header">
                <span>Swap</span>
            </div>
            <div class="box-content">
                <table class="table">
                    <tr>
                        <td class="label-col">Total</td>
                        <td class="total"><span class="swaptotal" format="filesizeformat">...</span></td>
                    </tr>
                    <tr>
                        <td class="label-col">Used</td>
                        <td class="used"><span class="swapused" format="filesizeformat">...</span> (<span class="swappercent">...</span>)</td>
                    </tr>
                    <tr>
                        <td class="label-col">Free</td>
                        <td class="free"><span class="swapfree" format="filesizeformat">...</span> </td>
                    </tr>
                    <tr>
                        <td class="label-col">Swapped in</td>
                        <td class="swapped-in"><span class="swapswapped_in"  format="filesizeformat">...</span> </td>
                    </tr>
                    <tr>
                        <td class="label-col">Swapped out</td>
                        <td class="swapped-out"><span class="swapswapped_out" format="filesizeformat">...</span></td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="box users">
            <div class="box-header">
                <span>Users</span>
            </div>
            <div class="box-content">
                <table class="table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Session started</th>
                            <th>Host</th>
                        </tr>
                    </thead>
                    <tbody class="listusers" data="name started host" format="none fromtimestamp none">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
