{% if not is_xhr|default(false) %}
{% extends "base.html" %}


{% endif %}
{% block content %}
<style>
input {
   width:80%;
 }
</style>
<script>
var datatable;
$(document).ready( function () {
    console.log(" Datatable ");
    datatable = $('#myTable').DataTable(  {   paging: false,
        fixedHeader: true,
      colReorder: true,
 } );

    $('#myTable thead th').each( function () {
        var title = $(this).text();
        $(this).html( $(this).html()+ '<input type="text" placeholder="Search" />' );
    } );

    // Apply the search
    datatable.columns().every( function () {
        var that = this;
 
	$('input', this.header()).on('keypress change', function(e) {
      		var keycode = e.which;
      		//launch search action only when enter is pressed
      		if (keycode == '13') {
        		console.log('enter key pressed !')
        		if (that.search() !== this.value) {
          			that
            				.search(this.value)
            				.draw();
        			}
      			}
         } );
    } );
} );
</script>

    <div id="processes" class="box">
        <div class="box-header">
            <span>Processes</span>
        </div>
        <div class="box-content">
            <table id="myTable" class="table table-hover"  cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>
                            PID
                        </th>
                        <th>
                           Name
                        </th>
                        <th>
                            User
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Created
                        </th>
                        <th title="Resident Set Size">
                            RSS
                        </th>
                        <th title="Virtual Memory Size">
                            VMS
                        </th>
                        <th>
                            Memory %
                        </th>
                        <th>
                            CPU %
                        </th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
